typeattribute xiaomisettings_app mlstrustedsubject;

app_domain(xiaomisettings_app)

allow xiaomisettings_app {
  app_api_service
  activity_service
  activity_task_service
  audio_service
  audioserver_service
  autofill_service
  cameraserver_service
  content_capture_service
  drmserver_service
  game_service
  gpu_service
  netstats_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
  sensorservice_service
  surfaceflinger_service
  media_session_service
  storagestats_service
  tethering_service
  voiceinteraction_service
}:service_manager find;

hal_client_domain(xiaomisettings_app, hal_motor)

allow xiaomisettings_app sysfs_touch_polling_rate:dir search;
allow xiaomisettings_app sysfs_touch_polling_rate:file rw_file_perms;

allow xiaomisettings_app system_app_data_file:dir create_dir_perms;
allow xiaomisettings_app system_app_data_file:file create_file_perms;
allow xiaomisettings_app system_app_data_file:{ file lnk_file } create_file_perms;

allow xiaomisettings_app {
  system_data_file
  user_profile_root_file
}:dir search;

# Allow binder communication with gpuservice
binder_call(xiaomisettings_app, gpuservice)
binder_call(xiaomisettings_app, hal_motor)

# Allow xiaomisettings_app to read and write to cgroup/sysfs_leds/sysfs_thermal
allow xiaomisettings_app sysfs_leds:dir search;

#allow xiaomisettings_app vendor_sysfs_graphics:dir search;
allow xiaomisettings_app {
  cgroup
  sysfs_leds
  sysfs_thermal
}:{ file lnk_file } rw_file_perms;

set_prop(xiaomisettings_app, system_prop)
get_prop(xiaomisettings_app, system_prop)
